/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Abilities/AbilityCard/AbilityCard.module.scss ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.AbilityCard_unlearned__vGJSm::before {
  content: "";
  position: absolute;
  border-radius: 5px;
  background-color: rgba(71, 71, 71, 0.486);
  height: 401.5px;
  width: 100%;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Abilities/Abilities.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Abilities_root___26aC {
  background-color: rgba(10, 10, 10, 0.862745098);
  border: 1px solid rgba(203, 139, 55, 0.4588235294);
  border-radius: 5px;
  padding: 0 10px 10px;
  position: relative;
}

.Abilities_head__c5w9z {
  text-align: center;
  font-family: Origicide, sans-serif;
  color: #cb8b37;
  text-shadow: 2px 2px 2px #8f1f1f;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Abilities/Filters/Filters.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Filters_root__woRHJ {
  height: 70px;
  background-color: rgba(10, 10, 10, 0.862745098);
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid rgba(203, 139, 55, 0.4588235294);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.Filters_label__1Xw9D {
  color: #7c8291;
}
