.root {
    background-color: #0a0a0adc;
    border: 1px solid #cb8b3775;
    border-radius: 5px;
    padding: 0 10px 10px;
    position: relative;
}

.head {
    text-align: center;
    font-family: Origicide, sans-serif;
    color: #cb8b37;
    text-shadow: 2px 2px 2px  #8f1f1f;
}