.root {
    height: 25px;
    background-color: #0a0a0adc;
    margin: 10px 0 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 20px 40px;
    border: 1px solid #cb8b3775;
    border-bottom: none;
}

.title {
    color: rgb(197, 197, 197);
    margin: 0;
}