/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/SideBar/Navigation/Navigation.module.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Navigation_root__zb3ol {
  height: 100%;
  width: 100px;
  position: fixed;
  background-color: rgba(22, 26, 37, 0.9490196078);
  padding: 0 30px;
  margin-left: -160px;
  transition: 0.5s;
  z-index: 3;
}

.Navigation_active__CMYlx {
  margin-left: 0;
  transition: 0.5s;
}

.Navigation_nav__pte4N {
  display: flex;
  flex-direction: column;
  align-content: space-between;
}

.Navigation_wiki__jaL7K {
  margin-left: -25px;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/SideBar/SideBar.module.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.SideBar_burger__q_k6C {
  position: fixed;
  height: 22px;
  width: 32px;
  padding-top: 10px;
  top: 25px;
  left: 25px;
  transition: background-color none;
}
.SideBar_burger__q_k6C div {
  cursor: pointer;
}
.SideBar_burger__q_k6C div::after {
  top: 9px;
  margin-left: -1px;
}
.SideBar_burger__q_k6C div::before {
  bottom: 9px;
  margin-left: -1px;
}

.SideBar_burger__q_k6C div,
.SideBar_burger__q_k6C div::after,
.SideBar_burger__q_k6C div::before {
  content: "";
  position: absolute;
  width: 30px;
  border: 1px solid rgb(203, 139, 55);
  transition: 0.5s;
}

.SideBar_active__Xp_hU {
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.658);
  z-index: 2;
  transition: background-color 0.5s;
}
.SideBar_active__Xp_hU div {
  border: none;
  margin-left: 160px;
  top: 35px;
  left: 25px;
}
.SideBar_active__Xp_hU div::after {
  top: -1px;
  transform: rotate(45deg);
}
.SideBar_active__Xp_hU div::before {
  bottom: -1px;
  transform: rotate(-45deg);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Footer/Footer.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Footer_root__Ip214 {
  height: 25px;
  background-color: rgba(10, 10, 10, 0.862745098);
  margin: 10px 0 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 20px 40px;
  border: 1px solid rgba(203, 139, 55, 0.4588235294);
  border-bottom: none;
}

.Footer_title__o3sfG {
  color: rgb(197, 197, 197);
  margin: 0;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/components/Header/Header.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.Header_root__pufPi {
  padding-top: 40px;
  margin: 0 20px;
  position: relative;
  height: 120px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.Header_imageBox__moiNb {
  height: 89px;
  width: 100px;
}

.Header_wiki__IIZyw {
  position: absolute;
  display: block;
}

.Header_title__Bl0RP {
  color: rgb(230, 230, 230);
}

.Header_left__I17j7 {
  display: flex;
  align-items: baseline;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[9].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[3].oneOf[9].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[3].oneOf[9].use[5]!./src/app/layout.module.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.layout_root__nT5Ec {
  position: relative;
  height: 100%;
  background-color: #1b2337;
  margin: 0;
}
.layout_root__nT5Ec::before {
  content: "";
  opacity: 40%;
  background-image: url(/_next/static/media/Site-background.6781d63e.webp);
  background-repeat: no-repeat;
  width: 100vw;
  background-size: cover;
  background-position: 50%;
  position: fixed;
  height: 100%;
  z-index: -2;
}

.layout_boards__M8BY1 {
  display: flex;
  justify-content: space-between;
}
